::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

#heading {
  size: 1rem;
  background-color: #ff9999;
  text-align: center;
  margin: 0px;
  padding: 8px;
}

.flex-container {
  display: flex;
}

.column1 {
  width: 76%;
  margin: 16px;
}
.column2 {
  padding-top: 16px;
  width: 26%;
  margin: 16px;
}

.released-movie-tile-grid {
  margin: 16px;
}