#simple-tabpanel-0{
    padding-top: 20px;
}

#simple-tabpanel-1{
    padding-top: 20px;
}

.text-input {
    padding-top: 20px;
    padding-bottom: 20px;
}

#login-status {
    color: gray;
}

/* #my-helper-text {
    color: red;
    display: inline;
} */

.button {
    padding-top: 20px;
}

#displayNone {
    display: none;
}

#displayBlock {
    display: block;
    color: red;
}